<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging out...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <p>Logging out...</p>

    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-auth-compat.js"></script>
    <script>
        const firebaseConfig = {{ config | tojson }};
        firebase.initializeApp(firebaseConfig);
        
        // Sign out from Firebase
        firebase.auth().signOut().then(() => {
            window.location.href = '/login';
        });
    </script>
</body>
</html>